@import "/src/assets/scss/shared";

.action {
    &_content {
        @include media-breakpoint-up("lg") {
            padding-top: 36px;
        }
        @include media-breakpoint-up("xxl") {
            padding-top: 48px;
        }
    }
}
.meetings_page__title {
    width: 315px !important;
    div {
        column-gap: 10px;
        min-height: 0px !important;
        height: 20px;
    }
    button {
        width: fit-content !important;
        min-width: 0 !important;
        min-height: 0 !important;
        text-transform: none !important;
        font-weight: 500 !important;
        font-size: 14px !important;
        padding: 0;
        color: $color-main;
    }
    button.Mui-selected {
        color: $color-hyperlink;
    }
}

.meetingContainer {
    padding: 16px;
}
.action_desktop_page_container {
    padding-top: 36px;

    @include media-breakpoint-up("lg") {
        padding-top: 0px;
    }
}