@use "sass:map";
@import "shared";

html,
body {
  margin: 0px;
  font-family: "Roboto-Regular", sans-serif;
  transition-duration: unset;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
}
* {
  box-sizing: border-box;
  transition-duration: $transition-duration;
}

button {
  border: unset;
  padding: 0;
  background-color: unset;
  cursor: pointer;
  outline: unset;
}

a {
  text-decoration: none;
  color: $color-hyperlink;
}

.react-datepicker {
  display: flex;
}
